canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;

  width: 100vw;
  color: white;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0 60px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 6;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.globe-location {
  grid-column: 7 / 12;
  padding: 1rem;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

.company-name {
  color: white;
}

.boxup-link {
  color: #f15a29;
}
.lybrate-link {
  color: #c82506;
}

footer {
  grid-column: 4/9;
  padding: 2rem 5rem;
  background: var(--dark-bg);
  border-radius: 1rem;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.social-links .image {
  padding: 0 1.5rem;
}

.social-img {
  height: 2rem;
  width: 2rem;
  /* mix-blend-mode: multiply; */
}
footer p {
  /* padding: 0; */
  margin-top: 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.contact-info p {
  font-size: 0.7rem;
}
